/*Margins and Paddings*/
.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-15 {
  margin-left: 15px;
}


/*Custom Controls*/
.clickable {
    cursor: pointer;
}

/*Alignment*/
.align-right {
    text-align: right;
}

.align-middle {
    vertical-align: middle;
}


/*Font Styles*/
.font-9pt {
    font-size: 9pt;
}

.bold {
    font-weight: bold;
}

.font-color-green {
    color: green;
}

.font-color-blue {
    color: blue;
}

.font-color-yellow {
    color: yellow;
}

.font-color-orange {
    color: orange;
}
