body {
    background: url('http://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg') no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
}

.main_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.clickableArea {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fade_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}


/*Menu Styles*/
.menu-divider {
    border-left: 1px #ccc solid;
    width: 1px;
    padding: 15px 0;
    height: 50px; 
    position: relative;
}
.navbar li:hover{
    background-color: #aaa;
}


/*Structure Styles*/
.structureLocked {
    color: #aaa;
}
.structureUnlocked {
    color: #000;
}



/*Overriding twitter bootstrap*/
.btn {
    border-radius: 0;
}
.btn:hover {
    background-color: #000;
    color: #fff;
}


/*Intro Screen*/
.introScreen {
	position: absolute;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 4px solid black;
	background-color: white;
	z-index:1002;
	overflow: auto;
}