html {
  background: url('http://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg') no-repeat;
  background-size: cover;
}

.main_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.div-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
  height: 150px;
  width: 100px;
  text-align: center;
}

.clickableArea {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.buildingPanel:hover {
    background-color: rgb(222,222,222);
}*/

.structureLocked {
    color: #aaa;
}

.structureUnlocked {
    color: #000;
}