<div id="Buildings">
    <h3>
        <span class="glyphicon glyphicon-home"></span> Buildings
    </h3>
    <div class="col-md-12 col-sm-12">
        <div class="row panel panel-primary">
            <div class="panel-body">
                <div class="col-xs-3">
                    Land: <i class="fa fa-flag"></i> {{structureCtrl.countryStats.land}}
                </div>
                <div class="col-xs-3">
                    Multiplier: {{structureCtrl.buildings.getTotalMultiplier()}}
                </div>
                <div class="col-xs-3">
                    Upkeep: <i class="fa fa-money"></i> {{structureCtrl.buildings.getTotalUpkeep()}}/turn
                </div>
                <div class="col-xs-3">
                    Jobs: 10
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div id="build" class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="panel panel-primary panelLocked col-xs-12 col-sm-4 col-md-4 clickableArea panelUnlocked"
                         ng-repeat="structure in structureCtrl.buildings.structures"
                         ng-class="{'invisible': !structure.isVisible()}">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="tag label label-default center-block">
                                        <span>{{structure.getName()}} ({{structure.getCount()}})</span>
                                        <a><i class="remove glyphicon glyphicon-info-sign glyphicon-white"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="row margin-top-5 form-inline">
                                <div class="col-sm-2 col-md-2">
                                    <img class="img-responsive" ng-src="assets/img/{{structure.getImage()}}.png" />
                                </div>
                                <div class="col-sm-2 col-md-2 text-center">
                                    <!--TODO: Add tooltips on hover-->
                                    <i class="fa fa-angle-double-up"></i>
                                    <span class="font-8pt">
                                        {{structure.getCountMultiplier()}}
                                    </span>
                                </div>
                                <div class="col-sm-2 col-md-2 text-center">
                                    <i class="fa fa-percent"></i>
                                    <span class="font-8pt">
                                        {{structure.getStatMultiplier()}}
                                    </span>
                                </div>
                                <div class="col-sm-2 col-md-2 text-center">
                                    <i class="fa fa-cog"></i>
                                    <span class="font-8pt">
                                        {{structure.getStatAdder()}}/t
                                    </span>
                                </div>
                                <div class="col-sm-2 col-md-2 text-center">
                                    <i class="fa fa-money"></i>
                                    <span class="font-8pt">
                                        -{{structure.getUpkeep()}}/t
                                    </span>
                                </div>
                                <div class="col-sm-2 col-md-2 text-center">
                                    <i class="fa fa-briefcase"></i>
                                    <span class="font-8pt">
                                        {{structure.getJobsIncreased()}}
                                    </span>
                                </div>
                            </div>

                            <!--TODO: Hide stat bonuses in a well and/or tooltip, currently might be too much info displayed at once-->
                            <div class="row">
                                <div class="row">
                                    <!-- TODO: Hide stats with a value of 0 -->
                                    <span class="col-md-4">
                                    </span>
                                    </span>
                                    <span class="col-md-4">
                                    </span>
                                    <span class="col-md-4">
                                    </span>
                                </div>
                            </div>
                            <div class="row form-horizontal">
                                <div>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="number" min="1" ng-init="count=1" ng-model="count" />
                                    </div>
                                    <div class="col-sm-8">
                                        <button class="btn btn-success" ng-class="structure.isVisible() ? '' : 'disabled'" ng-click="structure.build(count)">
                                            <span class="col-sm-4">Buy:</span>
                                            <i class="fa fa-money" ng-class="structureCtrl.countryStats.money < structure.getCost() ? 'text-danger' : ''"></i> {{structure.getCost()}}
                                            <i class="fa fa-flag" ng-class="structureCtrl.countryStats.land < structure.getLandCost() ? 'text-danger' : ''"></i> {{structure.getLandCost()}}
                                        </button>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<ng-include src="'app/components/advisors/advisorsView.html'"></ng-include>-->
    </div>
</div>
<!--<ng-include src="'app/shared/advisorHire/advisors_hireView.html'"></ng-include>-->
<!--<ng-include src="'app/shared/advisorHelp/help_advisorsView.html'"></ng-include>-->
