<!DOCTYPE html>
<html lang="en" ng-app="WCI">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Conqueror</title>
    <!--Javascript-->
    <script src="Libraries/js/jquery.min.js"></script>
    <script src="Libraries/js/angular.min.js"></script>
    <script src="Libraries/js/angular-route.js"></script>
    <script src="Libraries/js/ui-bootstrap-tps-0.11.0.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="Libraries/css/metro-bootstrap.css">
    <link rel="stylesheet" href="Libraries/fonts/metroSysIcons.svg">
    <link rel="stylesheet" href="Libraries/fonts/metroSysIcons.tff">
    <link rel="stylesheet" href="Libraries/fonts/metroSysIcons.woff">
    <link rel="stylesheet" href="Libraries/font-awesome.min.css">-->
</head>
<body ng-controller="GameController as game">
    <div class="main_overlay">
        <div class="container">
            <div class="row" ng-show="game.initialization.isFirstTime != true">

                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/changelog">
                            <span>
                                W<i class="glyphicon glyphicon-globe font-9pt font-color-lightblue"></i>rld Conqueror
                                <sub class="text-muted small">v{{game.version}}</sub>
                            </span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="menu-divider"></li>
                            <li>
                                <a href="#/ia">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    <span class="hidden-sm hidden-xs">
                                        Governance
                                    </span>
                                </a>
                            </li>
                            <li class="menu-divider"></li>
                            <li>
                                <a href="#/structure">
                                    <i class="fa fa-institution"></i>
                                    <span class="hidden-sm hidden-xs">
                                        Construction
                                    </span>
                                </a>
                            </li>
                            <li class="menu-divider"></li>
                            <li>
                                <a href="#/army">
                                    <i class="glyphicon glyphicon-screenshot"></i>
                                    <span class="hidden-sm hidden-xs">
                                        Military
                                    </span>
                                </a>
                            </li>
                            <li class="menu-divider"></li>
                            <li>
                                <a href="#/research">
                                    <i class="fa fa-flask"></i>
                                    <span class="hidden-sm hidden-xs">
                                        Research
                                    </span>
                                </a>
                            </li>
                            <li class="menu-divider"></li>

                        </ul>
                        <div id="Speed Buttons" class="navbar-form clickableArea">
                            <button class="btn margin-left-15" ng-class="game.paused === true ? 'btn-success' : 'btn-warning'" ng-click="game.pauseGame()">
                                <i class="fa" ng-class="game.paused === true ? 'fa-play' : 'fa-pause'"></i>
                            </button>
                            <button class="btn" ng-class="game.speed === 1000 ? 'btn-info' : 'btn-primary'" ng-click="game.adjustGameSpeed(1)">
                                <span>
                                    x1
                                </span>
                            </button>
                            <button class="btn" ng-class="game.speed === 100 ? 'btn-info' : 'btn-primary'" ng-click="game.adjustGameSpeed(10)">
                                <span>
                                    x10
                                </span>
                            </button>
                            <button class="btn" ng-class="game.speed === 10 ? 'btn-info' : 'btn-primary'" ng-click="game.adjustGameSpeed(100)">
                                <span>
                                    x100
                                </span>
                            </button>
                            <button type="button" class="btn btn-primary navbar-right" ng-click="game.openSettings()">
                                <i class="fa fa-cogs"></i>
                            </button>
                        </div>
                    </div>
                </nav>

                <div id="Game Window" class="col-sm-12">
                    <div id="Common Header">
                        <div class="row well font-11pt">

                            <div id="Main Stats" class="col-sm-4">
                                <div class="row">
                                    <div id="population" class="col-sm-6">
                                        <span>
                                            <i class="fa fa-users" tooltip="Population"></i>
                                        </span>
                                        <span>
                                            {{game.myCountry.population | number: 0}}
                                            (<span class="bold" ng-class="game.myCountry.populationGrowth() > 0 ? 'text-success' : 'text-danger'">
                                                {{game.myCountry.populationGrowth() | number: 0}}
                                            </span>)
                                        </span>
                                    </div>

                                    <div id="money" class="col-sm-6">
                                        <span>
                                            <i class="fa fa-money" tooltip="Money"></i>
                                        </span>
                                        <span>
                                            {{game.myCountry.money | number: 0}}
                                            (<span class="bold" ng-class="game.myCountry.moneyGrowth() > 0 ? 'text-success': 'text-danger'">
                                                {{game.myCountry.moneyGrowth() | number: 0}}
                                            </span>)
                                        </span>
                                    </div>

                                </div>

                                <div class="row">
                                    <div id="happiness" class="col-sm-6">
                                        <span>
                                            <i class="fa bold" ng-class="game.myCountry.happiness > 75 ? 'fa-smile-o text-success' : game.myCountry.happiness > 50 ? 'fa-meh-o text-warning' : 'fa-frown-o text-danger'"
                                               tooltip="Happiness"></i>
                                        </span>
                                        <span class="bold" ng-class="game.myCountry.happiness > 75 ? 'text-success' : game.myCountry.happiness > 50 ? 'text-warning' : 'text-danger'">
                                            {{game.myCountry.happiness}}
                                        </span>
                                    </div>

                                    <div id="size" class="col-sm-6">
                                        N/A
                                    </div>
                                </div>
                            </div>

                            <div id="side stats" class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div id="population">
                                            <span class="font-color-orange">
                                                <i class="glyphicon glyphicon-cutlery"></i> Food:
                                            </span>
                                            <span>
                                                {{game.myCountry.totalFood | number: 0}}
                                                (<span class="bold" ng-class="game.myCountry.foodFlow() > 0 ? 'text-success' : 'text-danger'">
                                                    {{game.myCountry.foodFlow() | number: 0}}
                                                </span>)
                                            </span>
                                        </div>
                                        <div id="happiness">
                                            <span class="font-color-orange">
                                                <i class="fa fa-area-chart"></i> Hunger:
                                            </span>
                                            <span class="bold" ng-class="game.myCountry.hunger === 0 ? 'text-success' : 'text-danger'">
                                                {{game.myCountry.hunger}}%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div id="population">
                                            <span class="font-color-blue">
                                                <i class="fa fa-briefcase"></i> Jobs:
                                            </span>
                                            <span>
                                                {{game.myCountry.totalJobs}}
                                            </span>
                                        </div>
                                        <div id="happiness">
                                            <span class="font-color-blue">
                                                <i class="fa fa-area-chart"></i> Unemployment:
                                            </span>
                                            <span class="bold" ng-class="game.myCountry.unemployment() === 0 ? 'text-success' : 'text-danger'">
                                                {{game.myCountry.unemployment()}}%
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div id="population">
                                            <span class="font-color-blue">
                                                <i class="fa fa-home"></i> Housing:
                                            </span>
                                            <span>
                                                {{game.myCountry.housingCapacity}}
                                            </span>
                                        </div>
                                        <div id="happiness">
                                            <span class="font-color-blue">
                                                <i class="fa fa-area-chart"></i> Homeless:
                                            </span>
                                            <span class="bold" ng-class="game.myCountry.homelessness() === 0 ? 'text-success' : 'text-danger'">
                                                {{game.myCountry.homelessness()}}%
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="views" ng-view>
                    </div>
                </div>


            </div>

            <div class="row introScreen" ng-show="game.initialization.isFirstTime === true">
                <div class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
                    <div id="IntroScreen">
                        <h3>
                            Welcome Conqueror!
                        </h3>
                    </div>
                </div>
            </div>
            <div class="fade_overlay" ng-show="game.initialization.isFirstTime === true">

            </div>
        </div>
    </div>

    <!--Google Analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55219778-1', 'auto');
        ga('send', 'pageview');

    </script>

    <footer>

        <script src="Javascript/WCI.js"></script>
        <script src="Javascript/Services/myCountryData.js"></script>
        <script src="Javascript/Services/buildingsData.js"></script>

        <script src="Javascript/Controllers/GameControllers.js"></script>
        <script src="Javascript/Controllers/ChangeLogController.js"></script>
        <script src="Javascript/Controllers/InternalAffairsController.js"></script>

        <script src="Javascript/Filters/NumberFilters.js"></script>


        <link rel="stylesheet" href="CSS/main.css" />
        <link rel="stylesheet" href="CSS/common.css" />

    </footer>
</body>
</html>
