<!DOCTYPE html>
<html lang="en" ng-app="WCI">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Conqueror Idle</title>
    <!--Javascript-->
    <script src="/Libraries/jquery.min.js"></script>
    <script src="/Libraries/angular.min.js"></script>
    <script src="/Libraries/ui-bootstrap-tps-0.11.0.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body ng-controller="GameController">
    <div class="main_overlay">
        <div class="container-fluid">
            <div class="row">

                <!--<div id="Menu" class="div-center" ng-show="showScreen ==='menu'">
                    <input type="button" class="btn btn-primary" value="New Game" ng-click="MenuClick('new')" />
                    <br />
                    <input type="button" class="btn btn-primary margin-top-20" value="Continue Game" ng-click="MenuClick('continue')" />
                    <br />
                    <input type="button" class="btn btn-primary margin-top-20" value="Options" ng-click="MenuClick('options')" />
                </div>-->

                <div id="Game" ng-show="showScreen ==='game'">
                    <div class="col-sm-12">
                        <div id="CountryInfo" class="col-sm-4" ng-controller="CountryController as countryCtrl">
                            <h3>
                                <span class="glyphicon glyphicon-flag"></span> {{countryCtrl.myCountry.name}}
                                <button class="btn btn-primary" ng-click="pauseGame()">
                                    <span ng-show="paused">
                                        Start
                                    </span>
                                    <span ng-show="!paused">
                                        Pause
                                    </span>
                                </button>
                            </h3>
                            <hr>
                            <div class="row">
                                <!--TODO: Add color coding on stats.-->
                                <!--TODO: Update UI to show +/- stat in the same row.-->
                                <div id="demographics">
                                    <h4 class="col-sm-12">
                                        <span class="fa fa-users"></span> Demographics:
                                    </h4>
                                    <span class="control-label col-sm-4 align-right bold">
                                        Population:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.population}}
                                        (<span class="bold" ng-class="countryCtrl.myCountry.populationGrowth() > 0 ? 'text-success' : 'text-danger'">
                                            {{countryCtrl.myCountry.populationGrowth()}}
                                        </span>)
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Happiness:
                                    </span>
                                    <span>
                                        <span class="bold" ng-class="countryCtrl.myCountry.happiness > 60 ? 'text-success' : 'text-danger'">
                                            {{countryCtrl.myCountry.happiness}}
                                        </span>
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Growth Rate:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.actualGrowthRate()}}%
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Mortality Rate:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.actualMortalityRate()}}%
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Housing Capacity:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.housingCapacity}}
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Homelessness:
                                    </span>
                                    <span>
                                        <span class="bold" ng-class="countryCtrl.myCountry.homelessness() === 0 ? 'text-success' : 'text-danger'">
                                            {{countryCtrl.myCountry.homelessness()}}%
                                        </span>
                                    </span>
                                </div>
                                <hr />
                                <div id="consumption">
                                    <h4 class="col-sm-12">
                                        <span class="fa fa-bar-chart-o"></span> Consumption:
                                    </h4>
                                    <span class="control-label col-sm-4 align-right bold">
                                        Total Food:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.totalFood}}
                                        (<span class="bold" ng-class="countryCtrl.myCountry.foodFlow() > 0 ? 'text-success' : 'text-danger'">
                                            {{countryCtrl.myCountry.foodFlow()}}
                                        </span>)
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Hunger:
                                    </span>
                                    <span>
                                        <span class="bold" ng-class="countryCtrl.myCountry.hunger === 0 ? 'text-success' : 'text-danger'">
                                            {{countryCtrl.myCountry.hunger}}%
                                        </span>
                                        </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Food Demand:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.foodDemand()}}
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Food Growth:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.foodGrowth()}}
                                    </span>
                                </div>
                                <hr />
                                <div id="economics">
                                    <h4 class="col-sm-12">
                                        <span class="fa fa-money"></span> Economics:
                                    </h4>
                                    <span class="control-label col-sm-4 align-right bold">
                                        GDP:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.gdp()}}
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Size:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.size}}
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Money:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.money}}
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold font-9pt">
                                        Total Jobs:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.totalJobs}}
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold font-9pt">
                                        Job gdp:
                                    </span>
                                    <span>
                                        {{countryCtrl.myCountry.jobGdpMultiplier}}
                                    </span>
                                    <br />
                                    <span class="control-label col-sm-4 align-right bold">
                                        Unemployment:
                                    </span>
                                    <span>
                                        <span class="bold" ng-class="countryCtrl.myCountry.unemployment() === 0 ? 'text-success' : 'text-danger'">
                                            {{countryCtrl.myCountry.unemployment()}}%
                                        </span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div id="Buildings" class="col-sm-4" ng-controller="BuildingsController as buildingsCtrl">
                            <h3>
                                <span class="glyphicon glyphicon-home"></span> Buildings
                                <button class="btn btn-primary clickableArea" ng-click="adjustGameSpeed(1)">
                                    <span>
                                        x1
                                    </span>
                                </button>
                                <button class="btn btn-primary clickableArea" ng-click="adjustGameSpeed(10)">
                                    <span>
                                        x10
                                    </span>
                                </button>
                                <button class="btn btn-primary clickableArea" ng-click="adjustGameSpeed(100)">
                                    <span>
                                        x100
                                    </span>
                                </button>
                            </h3>
                            <hr>
                            <div class="col-sm-12">
                                <tabset>
                                    <tab ng-repeat="building in buildingsCtrl.buildings" heading="{{building.name}}" class="clickable margin-bottom-20 bg-success">
                                        <div class="panel panel-primary structureLocked" ng-repeat="structure in building.structures"
                                             ng-class="{'clickable clickableArea structureUnlocked':structure.unlocked()}">
                                            <div class="panel-body">
                                                <span class="fa fa-info-circle" tooltip="{{structure.description}}"></span>
                                                {{structure.name}} - Count: {{structure.count}} || Cost: {{structure.cost}}
                                                <!--TODO: Remove some padding around the icon-->
                                                <span ng-show="!structure.unlocked()" class="fa fa-lock pull-left"></span>
                                                <div class="pull-right" ng-show="structure.unlocked()">
                                                    <button class="btn btn-primary" ng-click="structure.build(1)">
                                                        x1
                                                    </button>
                                                    <button class="btn btn-primary" ng-click="structure.build(10)">
                                                        x10
                                                    </button>
                                                    <button class="btn btn-primary" ng-click="structure.build(100)">
                                                        x100
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                        <div id="Army" class="col-sm-2" ng-controller="ArmyController as armyCtrl">
                            <h3>
                                <span class="glyphicon glyphicon-screenshot"></span> Army
                            </h3>
                            <hr>
                        </div>
                        <div id="Research" class="col-sm-2" ng-controller="ResearchController as researchCtrl">
                            <h3>
                                <span class="glyphicon glyphicon-cog"></span> Research
                            </h3>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>

        <script src="/Javascript/WCI.js"></script>
        <script src="/Javascript/Services/myCountryData.js"></script>
        <script src="/Javascript/Services/buildingsData.js"></script>
        <script src="/Javascript/Controllers/GameControllers.js"></script>

        <link rel="stylesheet" href="/CSS/main.css" />
        <link rel="stylesheet" href="/CSS/common.css" />

    </footer>
</body>
</html>
