<div>
    <script type="text/ng-template" id="ministersHireModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Hire Minister</h4>
        </div>
        <div class="modal-body font-9pt row">
            <div ng-repeat="minister in game.ministers.allMinisters">
                <div class="panel-body custom-panel">
                    <div class="col-md-2 col-sm-3 avatar">
                        <img class="img-responsive" src="{{minister.Image}}" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span>{{minister.ministerType}}</span>
                        <br />
                        <span>{{advisor.influencePT}}</span>
                        <br />
                        <span>{{advisor.statAffected}}</span>
                        <br />
                        <span>{{advisor.ministerCost | niceNumber}}</span>
                    </div>
                    <div class="col-md-3 col-sm-3 pull-right">
                        <button class="btn btn-success pull-right" ng-click="minister.hireMinister(advisor)">Hire</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer align-center">
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>