<div id="Army" class="row">
    <h3>
        <span class="glyphicon glyphicon-screenshot"></span> Army
    </h3>
    <hr>
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div id="militaryResources" class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-money"></i> -{{militaryCtrl.military.getTotalUpkeep()}}/turn
                            </div>
                            <div class="col-xs-3">
                                <i class="fa fa-male"></i> {{game.myCountry.baseStats.unitCap}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="military" class="col-xs-12">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-4"
                                 ng-repeat="unit in militaryCtrl.military.units"
                                 ng-class="{'invisible': !unit.isUnlocked()}">
                                <!--TODO: Change class to hidden, instead of invisible, to remove the empty space between unlocked and locked units-->
                                <div class="row">
                                    <div class="col-xs-4 col-xs-offset-4">
                                        <div class="text-center noBottom-border">
                                            {{unit.count}}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary panelLocked clickableArea panelUnlocked">
                                    <div class="row text-center">
                                        <h4>{{unit.name}}</h4>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-4">
                                            <i class="fa fa-fire"></i> {{unit.attack}}
                                        </div>
                                        <div class="col-xs-4">
                                            <i class="fa fa-shield"></i> {{unit.defense}}
                                        </div>
                                        <div class="col-xs-4"><i class="glyphicon glyphicon-tower"></i>
                                            {{unit.siege}}
                                        </div>

                                        <div class="col-xs-4">
                                            <i class="fa fa-repeat"></i>
                                            {{unit.upkeep}}
                                        </div>
                                        <div class="col-xs-4">
                                            <i class="fa fa-male"></i>
                                            {{unit.popCost}}
                                        </div>
                                        <div class="col-xs-4">
                                            <i class="fa fa-angle-double-up"></i>
                                            {{unit.trainingSpeed}}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-block btn-success" ng-click="unit.buyQueue(1)">
                                                Hire - <i class="fa fa-money"></i> {{unit.cost}}
                                            </button>
                                        </div>
                                    </div>
                                    <!--TODO: Hide stat bonuses in a well and/or tooltip, currently might be too much info displayed at once-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 unitRecruitment">
                        <div class="row" ng-repeat="unit in militaryCtrl.military.units">
                            <div class="col-xs-12">
                                <div class="row text-center" ng-repeat="queue in unit.queue track by $index">
                                    {{unit.name}}
                                    <uib-progressbar value="(100 - queue.time/unit.trainingSpeed * 100)">
                                        <span>{{queue.time}} turn/s</span>
                                        <span>
                                            <a class="pull-right text-danger" ng-click="unit.cancelQueue($index)">
                                                <i class="fa fa-2x fa-ban"></i>
                                            </a>
                                        </span>
                                    </uib-progressbar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>