<div id="Army">
    <h3>
        <span class="glyphicon glyphicon-screenshot"></span> Army

    </h3>
    <hr>
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div id="military" class="col-xs-8">
                <div class="row">
                    <div class="panel panel-primary panelLocked col-xs-4 clickableArea panelUnlocked"
                         ng-repeat="unit in militaryCtrl.military.units"
                         ng-class="{'invisible': !unit.isUnlocked()}">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                        <span class="tag label label-default center-block">
                                            <span>{{unit.name}}</span>
                                            <a><i class="remove glyphicon glyphicon-info-sign glyphicon-white"></i></a>
                                        </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                                    <p class="text-center all-border">
                                        {{unit.count}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <img class="center-block img-responsive"
                                         ng-src="assets/img/{{unit.image}}.png"/>
                                </div>
                            </div>
                            <!--TODO: Hide stat bonuses in a well and/or tooltip, currently might be too much info displayed at once-->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">Production: {{unit.statAdder}}
                                        <br>
                                        Multiplier: {{unit.statMultiplier}}
                                        <br>
                                        Count Multiplier: {{unit.countMultiplier}}
                                        <br>
                                        Upkeep: {{unit.upkeep}}
                                        <br>
                                        Jobs: {{unit.jobsIncreased}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-success" ng-class="unit.isUnlocked() ? '' : 'disabled'"
                                ng-click="unit.buyQueue(1)">
                            <h3>Buy</h3>
                            <div class="col-md-6">
                                <i class="fa fa-money"></i> {{unit.cost}}
                            </div>
                            <div class="col-md-6">
                                <i class="fa fa-flag"></i> {{unit.landCost}}
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>