<div id="ChangeLog" ng-controller="ChangelogController as changelogCtrl">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-info" ng-repeat="versionLog in changelogCtrl.changeLogs">
            <div class="panel-heading">
                <h4 class="panel-title clickable" ng-click="changelogCtrl.changeLogPanelExpand(versionLog.number)">
                    <span>
                        Version {{versionLog.number}}
                    </span>
                </h4>
            </div>
            <div id="changelog" collapse="versionLog.collapsed === true">
                <div class="panel-body">
                    <div ng-repeat="subVersion in versionLog.subVersions">
                        <b>
                            {{subVersion.number}}
                        </b>
                        <br />
                        <ul>
                            <!--TODO: Conver the ul icon to a custom font icon.. more details at: http://www.sitepoint.com/use-webfont-icons-bullet-points-html5-lists/ -->
                            <li ng-repeat="log in subVersion.logs" class="">
                                <span ng-show="log.title.lentgh > 0" class="bold">
                                    {{log.title}}:
                                </span>
                                {{log.description}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
