<div id="Internal Affairs">
    <h4>
        <span class="glyphicon glyphicon-flag"></span>
        <span>
            Welcome {{countryCtrl.myCountry.baseStats.title}} of {{countryCtrl.myCountry.baseStats.name}}!
        </span>
    </h4>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-6 col-sm-12">
                <div id="laws" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>
                                Laws
                            </span>
                        </div>
                    </div>
                    <div ng-repeat="law in countryCtrl.laws.baseStats">
                        <div class="panel-body law-panel" ng-click="law.enactLaw()">
                            <div class="col-md-6">
                                <span class="fa fa-info-circle" tooltip="{{law.description}}"></span>
                                <span class="fa" ng-class="law.icon"></span>
                                <span class="bold">
                                    {{law.name}} <br />
                                    <span class="font-9pt">
                                        Active for: {{law.activeFor | niceTime}}
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right clickableArea" ng-show="law.isUnlocked">
                                    <button class="btn" ng-click="law.act()" ng-class="!law.isActive ? 'btn-sucess': ''" ng-disabled="!law.isActive">
                                        Enact
                                    </button>
                                    <button class="btn" ng-click="law.act()" ng-class="law.isActive ? 'btn-danger': ''" ng-disabled="law.isActive">
                                        Repeal
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="advisors" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>
                                Advisors
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        Test
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>