<div ng-cloak ng-controller="CountryController as countryCtrl">
    <h4>
        <span class="glyphicon glyphicon-flag"></span>
        <span>
            Welcome {{countryCtrl.myCountry.baseStats.title}} of {{countryCtrl.myCountry.baseStats.name}}!
        </span>
    </h4>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-6 col-sm-12">
                <div id="laws" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>
                                Laws
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        Test
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="advisors" class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>
                                Advisors
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        Test
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>