<div ng-cloak ng-controller="CountryController as countryCtrl">
    <h3>
        <span class="glyphicon glyphicon-flag"></span>
        <span>
            {{countryCtrl.myCountry.baseStats.name}}
        </span>

    </h3>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-primary big-banner">
                Welcome {{countryCtrl.myCountry.baseStats.title}}!
            </div>
        </div>
        <div class="col-sm-12">
            <div id="advisors">

            </div>
            <div id="laws">

            </div>
        </div>
    </div>
</div>