<div id="Buildings">
    <h3>
        <span class="glyphicon glyphicon-home"></span> Buildings
    </h3>
    <hr>
    <div class="col-md-6 col-sm-12">
        <tabset>
            <tab ng-repeat="building in structureCtrl.buildings.baseStats" heading="{{building.name}}" class="clickable margin-bottom-20 bg-success">
                <div class="row">
                    <div id="build" class="col-md-12">
                        <div class="panel panel-primary panelLocked" ng-repeat="structure in building.structures"
                             ng-class="{'clickableArea panelUnlocked':structure.isUnlocked()}">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <span class="fa fa-info-circle" tooltip="{{structure.description}}"></span>
                                    {{structure.name}} <span class="badge">{{structure.count}}</span> <br />
                                    <b>Cost: {{structure.displayCost | niceNumber}}; Upkeep: {{structure.upkeep | niceNumber}}</b>
                                    <!--TODO: Remove some padding around the icon-->
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right clickableArea" ng-show="structure.isUnlocked()">
                                        <button class="btn btn-primary" ng-click="structure.build(1)">
                                            x1
                                        </button>
                                        <button class="btn btn-primary" ng-click="structure.build(10)" ng-mouseover="structure.updateCost(10)" ng-mouseleave="structure.updateCost(1)">
                                            x10
                                        </button>
                                        <button class="btn btn-primary" ng-click="structure.build(100)" ng-mouseover="structure.updateCost(100)" ng-mouseleave="structure.updateCost(1)">
                                            x100
                                        </button>
                                        <button class="btn btn-primary" ng-click="structure.build(1000)" ng-mouseover="structure.updateCost(1000)" ng-mouseleave="structure.updateCost(1)">
                                            x1000
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <div id="advisors" class="col-md-6 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <span>
                        Advisors
                    </span>
                    <span class="pull-right">
                        <i class="fa fa-info-circle clickable" ng-click="structureCtrl.helperModals.openAdvisorHelp()"></i>
                    </span>
                </div>
            </div>
            <div ng-repeat="advisor in structureCtrl.advisors.baseStats.activeAdvisors">
                <div class="panel-body custom-panel font-9pt">
                    <div class="col-md-2 col-sm-2 avatar">
                        <img class="img-responsive" src="{{advisor.Image}}" ng-if="advisor.Image" />
                        <img class="img-responsive" src="../Images/avatar_blank.jpeg" ng-if="!advisor.Image" />
                    </div>
                    <div class="col-md-5 col-sm-6" ng-if="advisor.Name">
                        <span>{{advisor.Name}}</span>
                        <br />
                        <span>{{advisor.Age}} years</span>
                        <br />
                        <span>{{advisor.Type}}</span>
                        <br />
                        <span tooltip-html-unsafe="Upkeep per hour: {{advisor.Salary/8640 | niceNumber}}">{{advisor.Salary | niceNumber}} <span class="font-8pt">per year</span></span>
                        <br />
                        <rating ng-model="advisor.EducationLevel" max="5" readonly="true"></rating>
                    </div>
                    <div class="col-md-5 col-sm-4 pull-right">
                        <div ng-show="advisor.Name">
                            <div class="row">
                                <button class="btn btn-danger fa fa-remove pull-right" tooltip="Remove Advisor" ng-click="structureCtrl.advisors.functions.removeAdvisor(advisor)"></button>
                                <button class="btn btn-warning fa fa-recycle pull-right" tooltip="Replace Advisor" ng-click="structureCtrl.advisors.functions.hireNewAdvisor(advisor)"></button>
                                <!--<button class="btn btn-success fa fa-arrow-up pull-right" tooltip="Upgrade Advisor" ng-click="structureCtrl.advisors.functions.upgradeAdvisor(advisor)"></button>-->
                                <!--TODO: Decide, what is the point of an upgrade.-->
                            </div>
                            <div class="row margin-top-5">
                                <button class="btn fa fa-refresh pull-right font-color-blue" tooltip="Enable Autobuy"
                                        ng-show="advisor.EducationLevel > 0 && !advisor.IsAutobuyActive" ng-click="structureCtrl.advisors.functions.enableAutoBuy(advisor)"></button>
                                <button class="btn fa fa-refresh pull-right font-color-blue btn-info" tooltip="Disable Autobuy"
                                        ng-show="advisor.EducationLevel > 0 && advisor.IsAutobuyActive" ng-click="structureCtrl.advisors.functions.enableAutoBuy(advisor)"></button>
                                <!--Todo change this to educationLevel > 2 when testing is done-->
                            </div>
                        </div>
                        <div ng-show="!advisor.Name">
                            <button class="btn btn-primary fa fa-plus pull-right" tooltip="Hire New Advisor" ng-click="structureCtrl.advisors.functions.hireNewAdvisor(advisor)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="'Views/Modals/advisors_hire.html'"></ng-include>
<ng-include src="'Views/Modals/help_advisors.html'"></ng-include>

