<div id="Buildings">
    <h3>
        <span class="glyphicon glyphicon-home"></span> Buildings

    </h3>
    <hr>
    <div class="col-sm-12">
        <tabset>
            <tab ng-repeat="building in structureCtrl.buildings.baseStats" heading="{{building.name}}" class="clickable margin-bottom-20 bg-success">
                <div class="row">
                    <div id="build" class="col-md-6">
                        <div class="panel panel-primary panelLocked" ng-repeat="structure in building.structures"
                             ng-class="{'clickableArea panelUnlocked':structure.isUnlocked()}">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <span class="fa fa-info-circle" tooltip="{{structure.description}}"></span>
                                    {{structure.name}} <span class="badge">{{structure.count}}</span> <br />
                                    <b>Cost: {{structure.displayCost | niceNumber}}; Upkeep: {{structure.upkeep | niceNumber}}</b>
                                    <!--TODO: Remove some padding around the icon-->
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right clickableArea" ng-show="structure.isUnlocked()">
                                        <button class="btn btn-primary" ng-click="structure.build(1)">
                                            x1
                                        </button>
                                        <button class="btn btn-primary" ng-click="structure.build(10)" ng-mouseover="structure.updateCost(10)" ng-mouseleave="structure.updateCost(1)">
                                            x10
                                        </button>
                                        <button class="btn btn-primary" ng-click="structure.build(100)" ng-mouseover="structure.updateCost(100)" ng-mouseleave="structure.updateCost(1)">
                                            x100
                                        </button>
                                        <button class="btn btn-primary" ng-click="structure.build(1000)" ng-mouseover="structure.updateCost(1000)" ng-mouseleave="structure.updateCost(1)">
                                            x1000
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Info" class="col-md-6">

                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>