<div id="advisors" class="col-md-6 col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                    <span>
                        Advisors
                    </span>
                <span class="pull-right">
                        <i class="fa fa-info-circle clickable" ng-click="structureCtrl.helperModals.openAdvisorHelp()"></i>
                    </span>
            </div>
        </div>
        <div ng-repeat="advisor in structureCtrl.advisors.baseStats.activeAdvisors">
            <div class="panel-body custom-panel font-9pt">
                <div class="col-md-2 col-sm-2 avatar">
                    <img class="img-responsive" ng-src="{{advisor.Image}}" ng-if="advisor.Image" />
                    <img class="img-responsive" ng-src="assets/img/avatar_blank.jpeg" ng-if="!advisor.Image" />
                </div>
                <div class="col-md-5 col-sm-6" ng-if="advisor.Name">
                    <span>{{advisor.Name}}</span>
                    <br />
                    <span>{{advisor.Age}} years</span>
                    <br />
                    <span>{{advisor.Type}}</span>
                    <br />
                    <span>{{advisor.Upkeep | niceNumber}}</span>
                    <br />
                    <rating ng-model="advisor.EducationLevel" max="5" readonly="true"></rating>
                </div>
                <div class="col-md-5 col-sm-4 pull-right">
                    <div ng-show="advisor.Name">
                        <div class="row">
                            <button class="btn btn-danger fa fa-remove pull-right" tooltip="Remove Advisor" ng-click="structureCtrl.advisors.functions.removeAdvisor(advisor)"></button>
                            <button class="btn btn-warning fa fa-recycle pull-right" tooltip="Replace Advisor" ng-click="structureCtrl.advisors.functions.hireNewAdvisor(advisor)"></button>
                            <!--<button class="btn btn-success fa fa-arrow-up pull-right" tooltip="Upgrade Advisor" ng-click="structureCtrl.advisors.functions.upgradeAdvisor(advisors)"></button>-->
                            <!--TODO: Decide, what is the point of an upgrade.-->
                        </div>
                        <div class="row margin-top-5">
                            <button class="btn fa fa-refresh pull-right font-color-blue" tooltip="Enable Autobuy"
                                    ng-show="advisor.EducationLevel > 0 && !advisor.IsAutobuyActive" ng-click="structureCtrl.advisors.functions.enableAutoBuy(advisor)"></button>
                            <button class="btn fa fa-refresh pull-right font-color-blue btn-info" tooltip="Disable Autobuy"
                                    ng-show="advisor.EducationLevel > 0 && advisor.IsAutobuyActive" ng-click="structureCtrl.advisors.functions.enableAutoBuy(advisor)"></button>
                            <!--Todo change this to educationLevel > 2 when testing is done-->
                        </div>
                    </div>
                    <div ng-show="!advisor.Name">
                        <button class="btn btn-primary fa fa-plus pull-right" tooltip="Hire New Advisor" ng-click="structureCtrl.advisors.functions.hireNewAdvisor(advisor)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>