<div class="row introScreen" ng-show="game.data.init.isFirstTime === true">
    <div class="">
        <div id="IntroScreen">
            <h3>
                Welcome Conqueror!
            </h3>
            <span class="margin-top-20 row">
                Tired of the ceaseless misgivings of your country, you decide to show them how it is done. Banded with a group of like minded individuals you venture to one of the few pieces of unclaimed lands and establish your own nation. <br />
            </span>
            <hr />

            <div class="form-horizontal">
                <div class="col-sm-12 form-group" ng-class="game.validation.initCountryName === false ? 'has-error':'' ">
                    <span class="control-label bold col-sm-5">
                        Name your new nation:
                    </span>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="game.myCountry.baseStats.countryName" />
                    </div>
                </div>
                <div class="col-sm-12 form-group" ng-class="game.validation.intiLeaderName === false ? 'has-error':'' ">
                    <span class="control-label bold col-sm-5">
                        Give yourself a new name befitting a leader:
                    </span>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="game.myCountry.baseStats.leaderName" />
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <span class="control-label bold col-sm-5">
                        What are your people going to call you?
                    </span>
                    <div class="col-sm-7">
                        <ui-select ng-model="game.myCountry.baseStats.leaderTitle" theme="bootstrap">
                            <ui-select-match placeholder="Select a title for yourself">
                                {{$select.selected}}
                            </ui-select-match>
                            <ui-select-choices repeat="title in game.myCountry.leaderTitles | filter: $select.search">
                                <div ng-bind-html="title | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <span class="control-label bold col-sm-5">
                        Difficulty Level:
                    </span>
                    <div class="col-sm-7">
                        <ui-select ng-model="game.myCountry.baseStats.difficultyLevel" theme="bootstrap">
                            <ui-select-match placeholder="How brave are ya?">
                                {{$select.selected.Desc}}
                            </ui-select-match>
                            <ui-select-choices repeat="level in game.myCountry.difficultyLevels | filter: $select.search">
                                <div ng-bind-html="level.Desc | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="has-error margin-top-20 col-md-12" ng-show="(game.validation.initCountryName && game.validation.initLeaderName) === false">
                <p class="control-label">
                    Give us something to work with here.. will ya?
                </p>
            </div>

            <div class="margin-top-20 pull-right">
                <button type="button" class="btn btn-info" ng-click="game.startGame()">
                    Start!
                </button>
            </div>
        </div>
    </div>
</div>
<!--Leave this blank, this is what sets the background to black.-->
<div class="fade_overlay" ng-show="game.data.init.isFirstTime === true">

</div>