<div>
    <script type="text/ng-template" id="warAttackModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Send Troops</h4>
        </div>
        <div class="modal-body font-9pt row">
                <div class="col-xs-4" ng-repeat="unit in military.units">
                    <div class="row" ng-show="unit.count > 0">
                        <div class="col-xs-12">
                        {{unit.name + " " + unit.count}}
                        <input type="number" ng-model="unitModel" value="{{unitModel || 0}}" min="0" max="{{unit.count}}" ng-change="updateQueue(unit, unitModel)">
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer align-center">
            <button class="btn btn-warning" ng-click="sendTroops()">Send Troops</button>
            <button class="btn btn-danger" ng-click="cancel()">Go Back</button>
        </div>
    </script>
</div>