<div id="War" class="row">
    <div class="col-sm-12">
        <div id="war-control" class="row">
            <div id="battleScreen" class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span>
                                Control Room
                            </span>
                            <span>
                                <i class="fa fa-exclamation-triangle clickable" ng-click="war.retreat()"></i>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-info-circle clickable" ng-click=""></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body custom-panel font-9pt">
                        <div class="row" ng-repeat="currentBattle in warService.currentBattles">
                            <div class="col-sm-4">
                                <h4>
                                    {{currentBattle.defender.code}}
                                </h4>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-danger" ng-click="sendTroops($index)">Send Troops</button>
                            </div>
                            <div class="col-sm-4"><button type="button" class="btn btn-danger pull-right">Surrender
                            </button></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well" id="world-map" style="height: 500px">
                </div>
            </div>
        </div>

    </div>
</div>

<ng-include src="'app/components/war/warConfirmation/war_confirmationView.html'"></ng-include>
<ng-include src="'app/components/war/warSendTroopsModal.html'"></ng-include>